{{outlet}}
<h4>stories</h4>

<ul>
  {{#each model as |story index|}}
    <li>
      {{index}} - {{#link-to 'stories.show' story}}{{story.title}}{{/link-to}}
    </li>
  {{else}}
    No stories
  {{/each}}
</ul>
